### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [8]:
#get player count
total_players=(df["SN"].unique())

#get count of total players
player_count=len(total_players)
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#extract purchase count from data
total_purchases=df["Purchase ID"].count
print(total_purchases)

<bound method Series.count of 0        0
1        1
2        2
3        3
4        4
      ...
775    775
776    776
777    777
778    778
779    779
Name: Purchase ID, Length: 780, dtype: int64>

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#get gender demographics x & y counts
xy=df["Gender"].value_counts()
total_gender=xy.sum()
percent_gender=xy/total_gender *100

#calculate percentage of male and female players including undisclosed using concat process to merge and combine strings
#axis1 refers to columns
demo_df=pd.concat([percent_gender, xy], axis=1)
demo_df.columns=["Percentage of Players", "Total Count of Players"]

#format specifiers where %2f is a placeholder for an integer
demo_df["Percentage of Players"]=demo_df["Percentage of Players"].map("{:,.2f}%".format)

#print table
demo_df

                      Percentage of Players  Total Count of Players
Male                                 83.59%                     652
Female                               14.49%                     113
Other / Non-Disclosed                 1.92%                      15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#differentiate purchases by gender

grouped_df=df.groupby(["Gender"])
gender_spend=grouped_df["Price"].sum()

#average spending of gender 
average_purchase=gender_spend/xy

#merge and combine strings
#axis 1 refers to columns
pag_df=pd.concat([xy, average_purchase, gender_spend], axis=1)
pag_df.columns=["Purchase Count Total", "Average Price", "Total Purchase"]

#.map is a function that will return an object value
pag_df["Total Purchases"]=pag_df["Total Purchase"].map("${:,.2f}".format)
pag_df["Average Price"]=pag_df["Average Price"].map("${:,.2f}".format)

#print index name
pag_df.index.name="Gender"
pag_df

,Purchase Count Total,Average Price,Total Purchase,Total Purchases
Gender,,,,
Male,652,$3.02,1967.64,"$1,967.64"
Female,113,$3.20,361.94,$361.94
Other / Non-Disclosed,15,$3.35,50.19,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# Age Demographics
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df["Age Group"]=pd.cut(df["Age"], age_bins, labels=group_names)
age_grouped_df=df.groupby(["Age Group"])

#count purchases made by specific age group
age_purchases=age_grouped_df["Age"].count()

#add purchase count
age_totals=age_grouped_df["Price"].sum()

#get total
age_averages=age_totals/age_purchases

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame